# Postgres
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=ecommerce
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ecommerce

# JWT
# gere com: python -c "import secrets; print(secrets.token_hex(32))"
JWT_SECRET_KEY=troque-por-um-segredo-aleatorio
JWT_ALGORITHM=HS256
JWT_EXPIRE_IN=30
